*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header{
    padding: 25px;
    text-align: center;
}

footer{
    padding: 25px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

form{ text-align: center; }
input{ width: 100px; }
#resultado{ margin: auto 0; }

section, aside{
    width: 500px;
    height: 300px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px; 
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}