*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    color: white;
    padding: 10px;
}

main{
    height: 100vh;
    background: url(https://cdna.artstation.com/p/assets/images/images/049/327/884/large/mariana-marques-pimenta-bueno-wallpaper-artstation.jpg?1652237832) center / cover no-repeat;
}

section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

form{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 25px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 25px;

    & input[type = "text"]{
        width: 90%;
        background-color: rgba(0,0,0,0.01);
        border: none;
        border-bottom: 1px solid white;
        color: white;
        padding: 5px 5px 0 5px;
    }
}

footer{
    height: 10vh;
    text-align: center;
    padding-top: 20px;
    background-color: black;
    color: white;
}