@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@font-face {
    font-family: 'Bubble';
    src: url(../fonts/BubbleboddyNeue-ExtraBold\ Trial.ttf);
}
@font-face {
    font-family: 'Qilka';
    src: url(../fonts/qilka.bold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, header li, h2 {
    font-family: 'Qilka';
    font-weight: 300;
}
.calendario-mes h2 {
    font-family: 'Qilka';
}
body {
    font-family: 'Varela Round';
}
