@media (max-width:426px) {
    header ul{
        font-size: .5rem;
    }

    header .btn-adicionar{
        font-size: .5rem;
        padding: 5px;
    }

    .section-calendario{
        flex-direction: column;
        height: 100%;

    }

    .calendario{
        width: 90vw !important;
        margin: 0 auto;
        
        margin-bottom: 20px;
    }

    .calendario-grid{
        min-height: 275px;
    }

    .calendario-titulo h1{
        font-size: 1rem !important;
        display: flex;
        align-items: center;
    }

    .calendario-mes{
        font-size: 1rem !important;
    }

    .calendario-grid h3{
        font-size: .5rem;
    }

    .asidedireita{
        max-width: 90vw;
        margin: 0 auto;
    }

    .footer-container{
        flex-direction: column;

        & ul{
            width: 100%;
            text-align: center;
        }
    }
}