@import 'base.css';
@import 'mobile.css';

header li{
    list-style: none;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
}

header li:hover{
    background-color: #ff7a00;
    cursor: pointer;
    border-radius: 12px;
    padding: 8px 10px;
    transition: all 0.3s ease;
}

header ul{
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.logo{
    width: 100px;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    color: white;
    z-index: 1000;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.asideh2{
    font-size:18px;
    background-color: #00226B;
    color: white;
    margin:rgba(171, 171, 171, 0.203);
    text-align: center;
    border-radius:12px;
    padding: 12px 16px;
}

.asideh3{
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: #00226B;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.produto{
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease;
}

.produto:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: all 0.3s ease;
}p

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preco {
    color: #ff7a00;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.detalhe{
    font-size: 13px;
    color: #555;
    cursor: pointer;
}

.btn-adicionar{
    background-color:#ff8a00;
    color: white;
    border: none;
    border-radius:20px;
    padding: 12px 24px;
    font-size:15px;

    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease;
}

.btn-adicionar:hover{
    background-color: #e67600;
    cursor: pointer;
    transform: scale(1.1);
}

.prossiga{
    background-color: #00226B;
    color: white;
    margin:rgba(171, 171, 171, 0.628);
    text-align: center;
    border-radius:12px;
    padding: 12px 12px;
    transition: 0.3s;
    cursor: pointer;
}

.prossiga:hover{
    transform: scale(1.06);
}

.asidedireita{
    display: flex;
    flex-direction: column;
    gap: 3%;
    padding-top: 2%;
    
}

section{
    height: 120vh;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 5% 0;
    background-color: #f7f7f7;
}


.calendario{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
}

.section-carrossel{
    background-color: aquamarine;
    height: 100vh;
    background: url(/assets/img/carrossel1.png);
}

.calendario-titulo{
    display: flex;
    align-items: center;
    background-color: orange;
    padding: 10px;
    color: white;
    border-bottom: 2px solid black;

    & i{
        font-size: 2rem;
        color: black;
    }

    & h1{
        font-size: 1.8rem;
        margin: 0 auto;
    }
}

.calendario-mes{
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    
    & i{
        transition: .25s ease;
    }

    & i:hover{transform:scale(1.2)}
    
}

.calendario-grid{
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);

    & h3{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & label{
        height: 75%;
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #b9b9b9;
        cursor: pointer;
    }
}

.calendario label:hover{background-color: grey;}

#calendario1:checked ~ .calendario1{background-color: orange;}
#calendario2:checked ~ .calendario2{background-color: orange;}
#calendario3:checked ~ .calendario3{background-color: orange;}
#calendario4:checked ~ .calendario4{background-color: orange;}
#calendario5:checked ~ .calendario5{background-color: orange;}
#calendario6:checked ~ .calendario6{background-color: orange;}
#calendario7:checked ~ .calendario7{background-color: orange;}
#calendario8:checked ~ .calendario8{background-color: orange;}
#calendario9:checked ~ .calendario9{background-color: orange;}
#calendario10:checked ~ .calendario10{background-color: orange;}
#calendario11:checked ~ .calendario11{background-color: orange;}
#calendario12:checked ~ .calendario12{background-color: orange;}
#calendario13:checked ~ .calendario13{background-color: orange;}
#calendario14:checked ~ .calendario14{background-color: orange;}
#calendario15:checked ~ .calendario15{background-color: orange;}
#calendario16:checked ~ .calendario16{background-color: orange;}
#calendario17:checked ~ .calendario17{background-color: orange;}
#calendario18:checked ~ .calendario18{background-color: orange;}
#calendario19:checked ~ .calendario19{background-color: orange;}
#calendario20:checked ~ .calendario20{background-color: orange;}
#calendario21:checked ~ .calendario21{background-color: orange;}
#calendario22:checked ~ .calendario22{background-color: orange;}
#calendario23:checked ~ .calendario23{background-color: orange;}
#calendario24:checked ~ .calendario24{background-color: orange;}
#calendario25:checked ~ .calendario25{background-color: orange;}
#calendario26:checked ~ .calendario26{background-color: orange;}
#calendario27:checked ~ .calendario27{background-color: orange;}
#calendario28:checked ~ .calendario28{background-color: orange;}
#calendario29:checked ~ .calendario29{background-color: orange;}
#calendario30:checked ~ .calendario30{background-color: orange;}
#calendario31:checked ~ .calendario31{background-color: orange;}
#calendario32:checked ~ .calendario32{background-color: orange;}
#calendario33:checked ~ .calendario33{background-color: orange;}
#calendario34:checked ~ .calendario34{background-color: orange;}
#calendario35:checked ~ .calendario35{background-color: orange;}

.calendario32, .calendario33, .calendario34, .calendario35{
    color: #8b8b8b;
}

.sobre{
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100%;
    padding: 5%;

    & h4{
        font-size: 1.5rem;
    }

    & .texto{
        max-width: 60%;
    }
}

.custom-shape-divider-top-1769773922 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    rotate: 180deg;
}

.custom-shape-divider-top-1769773922 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 172px;
    background-color: #f7f7f7;

}

.custom-shape-divider-top-1769773922 .shape-fill {
    fill: #0059DB;
}

footer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 1.5rem;
    width: 100%;
    background-color: #0059DB;
    color: #fff;
}
footer img {
    height: 250px;
    width: auto;
    align-self: center;
    object-fit: cover;
}


.footer-container {
    display: flex;
    padding-top: 3.5rem;
    justify-content: space-between;
}
footer ul, footer li {
    list-style: none;
}
footer ul:nth-child(1) li {
    text-decoration: underline;
    cursor: pointer;
}
footer ul:nth-child(1) li:nth-child(6) {
    text-decoration: none;
}
footer ul {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    text-wrap: wrap;
}
footer ul:nth-child(3) li:nth-child(4) {
    text-decoration: underline;
}
footer ul:nth-child(3) li:nth-child(5) {
    text-decoration: underline;
}
footer button {
    font: bold 16px 'Varela Round';
    padding: 15px;
    border-radius: 20px;
    background-color: #88b8ff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

footer button:hover{
    background-color: #6a8fc6;
}


footer .brand-icons {
    padding-top: 2rem;
    font-size: 2rem;
}



footer .payment-icons {
    font-size: 2rem;
}
.bottom-footer {
    width: 100%;
    display: flex;
    padding: 2rem;
}
footer p {
    align-self: start;
}